
<script src="../char_ismatic.js"></script>
<script src="../cls/stringfeed.js"></script>
<script src="../cls/numberfeed.js"></script>

<script src="../enter_code.js"></script>

<script src="../cls/chvals.js"></script>
<script src="../cls/code.js"></script>
<script src="../cls/number.js"></script>
<script src="../cls/boolean.js"></script>
<script src="../cls/bottom.js"></script>
<script src="../cls/list.js"></script>
<script src="../cls/object.js"></script>
<script src="../cls/string.js"></script>
<script src="../cls/prober.js"></script>

<script src="common.js"></script>
<script src="gui.js"></script>

<pre id='result'></pre>

<textarea autofocus id='input' cols=100 rows=10></textarea>
<button id='run'>R</button>
<button id='clear'>C</button>

<script src="form_prep.js"></script>
<script src="gui_prep.js"></script>
